* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

main {
  margin: 24px auto;
  cursor: pointer;
}

ul {
  padding-left: 0;
  list-style-type: none;
}

a {
  outline: transparent;
}

img {
  display: block;
  max-width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.gallery-item {
  position: relative;
  width: calc((100% - 48px) / 3);
  max-width: 360px;
  transition: transform ease-in-out 500ms;
}
.gallery-item:hover,
.gallery-item:focus-within {
  z-index: 22;
  transform: scale(1.04);
}
.gallery-item:focus-within::after {
  content: '';
  position: absolute;
  right: -22px;
  bottom: -30px;
  width: 44px;
  height: 44px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' fill='none'%3E%3Cpath fill='%234E75FF' d='M14.157 39.91c.33.274.745.424 1.173.423h19.503a3.667 3.667 0 0 0 3.667-3.666V23.448a3.666 3.666 0 0 0-3.261-3.643L22 18.333v-11a3.667 3.667 0 1 0-7.333 0v22l-5.555-2.222a3.669 3.669 0 0 0-4.842 2.246l-.207.623a1.83 1.83 0 0 0 .566 1.988l9.528 7.942Z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
}

.gallery-link:hover {
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='44' fill='none'%3E%3Cpath fill='%234E75FF' d='M14.157 39.91c.33.274.745.424 1.173.423h19.503a3.667 3.667 0 0 0 3.667-3.666V23.448a3.666 3.666 0 0 0-3.261-3.643L22 18.333v-11a3.667 3.667 0 1 0-7.333 0v22l-5.555-2.222a3.669 3.669 0 0 0-4.842 2.246l-.207.623a1.83 1.83 0 0 0 .566 1.988l9.528 7.942Z'/%3E%3C/svg%3E")
      17 4,
    pointer;
}

.gallery-image {
  aspect-ratio: 1.8/1;
}

/* ========== basicLightbox styles ========== */
.basicLightbox {
  background: #2e2f42cc;
}

/* ========== adapt styles ========== */
@media only screen and (max-width: 1199px) {
  .gallery {
    padding: 0 4vh;
    gap: 12px;
  }
  .gallery-item {
    width: calc((100% - 24px) / 3);
  }
}
@media only screen and (max-width: 767px) {
  .gallery {
    padding: 0 2vh;
    gap: 6px;
  }
  .gallery-item {
    width: calc((100% - 6px) / 2);
  }
}
